buoi 4_BUIHOANGNHAT/quanan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/quanan"
           xmlns="http://www.example.com/quanan"
           elementFormDefault="qualified">

  <!-- Kiểu dữ liệu cho username và password -->
  <xs:simpleType name="usernameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="6"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="passwordType">
    <xs:restriction base="xs:string">
      <xs:minLength value="10"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="QUANAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TAIKHOAN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="USERNAME" type="usernameType"/>
              <xs:element name="PASSWORD" type="passwordType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="MONAN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MAMON" type="xs:string"/>
              <xs:element name="TENMON" type="xs:string"/>
              <xs:element name="GIA" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="HOADON" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MAHD" type="xs:string"/>
              <xs:element name="USERNAME" type="usernameType"/>
              <xs:element name="MAMON" type="xs:string"/>
              <xs:element name="SOLUONG" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Khóa và tham chiếu -->
    <xs:key name="TaiKhoanPK">
      <xs:selector xpath="TAIKHOAN"/>
      <xs:field xpath="USERNAME"/>
    </xs:key>

    <xs:key name="MonAnPK">
      <xs:selector xpath="MONAN"/>
      <xs:field xpath="MAMON"/>
    </xs:key>

    <xs:keyref name="HoaDon_TK_FK" refer="TaiKhoanPK">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="USERNAME"/>
    </xs:keyref>

    <xs:keyref name="HoaDon_Mon_FK" refer="MonAnPK">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="MAMON"/>
    </xs:keyref>

  </xs:element>

</xs:schema>